# Binaries
halpradio
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Code coverage
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace
go.work
go.work.sum

# env & config
.env

# Release artifacts
dist/

# Editor/IDE
.DS_Store
.idea/
.vscode/
